<p style="color: green"><%= notice %></p>

<%= render @group %>
<div>
total_expenditure 
<%= @group.sumup %>
</div>
<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>
  
  <%= button_to "Destroy this group", @group, method: :delete %>
  <%= link_to "Add new Expenditure", new_expenditure_path(@group) %>
</div>
