<% provide(:title, "WELCOME TO THE BUDGET APP!") %>
<div class='splash-container'>
    <%# <%= image_tag('logos/rails-img.jpg', class: 'splash-logo') %>

    <div class='btn-group flex'>
    <title>WELCOME TO THE WHOLESOME BUDGET APP</title>
        <% if user_signed_in?%>
            <h3>Welcome <%= current_user.name %> TO THE WHOLESOME BUDGET APP</h3>
            <%= link_to 'view group', groups_path, class: 'view-grp-btn' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-btn' %>

            <% else %>
            <%# <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn-main' %>
            <%= link_to 'Log In', new_user_session_path, class: 'log-in-btn' %>
            <%= link_to 'Sign Up',  new_user_registration_path, class: 'sign-up-btn' %>
        <% end %>
    </div>
</div>